doctype
html
    head
        meta(charset='utf-8')
        title PopScript

        link(href='http://fonts.googleapis.com/css?family=Skranji|Sigmar+One|Merienda:400,700',rel='stylesheet',type='text/css')
        link(rel='shortcut icon', href='/v2/static/img/logo32.png')
        link(rel='stylesheet', type='text/css', href='http://maxcdn.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css')
        link(rel='stylesheet', type='text/css', href='/v2/dist/popscript-boilerplate.css')
        link(rel='stylesheet', type='text/css', href='/v2/static/css/browser.css')
        block google_prettify_theme
        //start Mixpanel
        script(type='text/javascript').
            (function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
            typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
            b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
            mixpanel.init("77b6d36b094632df57fa694f09808a5a");
        //end Mixpanel
        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-46630680-1', 'relfor.co');
            ga('send', 'pageview');
        block pre_doc

    body
        #header.cf
            a#logo(href='/')
                span POP
                span SCRIPT
            #nav.cf
                a(href='/v2/docs/index.html')
                    span.icon-book
                    |  DOCS
                a(href='/v2/demo.html')
                    span.icon-hand-up
                    |  DEMO
                a#download(href='/v2/download.html')
                    span.icon-download
                    |  DOWNLOAD
        block content
        #main-footer
            | Crafted with&nbsp;
            span.icon-heart-empty
            |  by&nbsp;
            a(href='http://relfor.co') Relfor
        script(src='/v2/dist/popscript.js', defer='defer')
        script(src='/v2/dist/popscript-boilerplate.js', defer='defer')
        script(src='/v2/static/js/prettify.js', defer='defer')
        script(src='/v2/static/js/index.js', defer='defer')
        block post_doc
        a(href='https://github.com/relfor/popscript')
            img#github-ribbon(style='position: absolute; top: 0; right: 0; border: 0;', src='https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png', alt='Fork me on GitHub')
